

nav{
    background-color: $titlecolor;
    height: 80px;

  }
  



.navcontent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
 
  img{
    width: 80px;
    align-items: center;
  }
    .menu {
      display: flex;
      flex-wrap: wrap;
      margin-top: 25px;
      margin-bottom: 25px;
      line-height: 1.5;
    }
  
    li{
      padding-left: 64px;
      @include mobile{
        display: none;
      }
    }
    a{
      color: #fff;
      font-size: 20px;


    }
    a:hover {
      color: rgb(236, 255, 142);
      font-size: 21px;
      transition: 0.4s;
      
  }
  
  
}

footer {
  background-color: $titlecolor;
  color: #fff;
} 

.footermenu{
  padding-top: 40px;
  @include mobile{
    padding-top: 24px;
  }
}

  .footernav {
    padding-top:40px; 
    display: flex;
    justify-content: space-between;
 
    padding-bottom: 24px;
    border-bottom: #fff solid 1px;
    
    @include mobile{
      padding-top: 24px;
    }
  }
 
  .footerlist {
      display: flex;
      justify-self: start;
      @include mobile{
        display: none;
      }
      a {
            padding-top:40px; 
        color:#fff;
        font-size: 16px;
        padding-right: 24px;
      }
    
  }

  .contectus{
    padding-bottom: 24px;
    span{
      padding-bottom: 8px;
      font-size: 36px;
      @include mobile{
        font-size: 16px;
      }
    }
    a{    
      color: #fff;
      font-size: 36px;
      line-height: 2;
      @include mobile{
        font-size: 16px;
      }
    }
  }

  .socialicon {
 
    display: flex;
    align-items: flex-start;
    padding-top:40px; 
    @include mobile{
      padding-top: 24px;
    }
    img{

      height: 48px;
      padding-left: 24px;
      @include mobile{
        width: 24px;
        height: 24px;
        padding-left: 8px;
      }
    }
    

  

  }
  

.copyright_box{

  display: flex;
  justify-content: space-between;
  @include mobile{
    flex-direction: column;
  }
  .copyrightflex_item{
    padding-top: 32px;
    padding-bottom: 32px;
    @include mobile{
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
  .privacy{

    display: flex;
    @include mobile{
      flex-direction: column;
    }
    a{
      line-height: 2;
      color: #fff;
      padding-left: 48px;
      @include mobile{

        padding: 8px 0;
      }
    }
  }

}
 