@import "varnmixin";
@import "reset";
@import "layout";

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
  @include tab{
    max-width:720px;
    padding: 0 12px;
  }
  @include mobile{
      max-width:374px;
      padding: 0 12px;
  }
}


.sec2under{
  background-color:#FBF2F2 ;
}

.sec2{
  padding-top: 48px;
  padding-bottom: 80px;

    h2{
      font-size: 48px;
      color:#650300;
      padding: 36px;
      font-weight: bold;
      text-align: center;
    }
    span{
      font-size: 84px;
      color:#650300;
      display: block;
      padding: 24px;
      text-align: center;
    }
    h3{
      font-size: 24px;
      font-weight: bold;
      padding: 16px;
      color:#650300;
      text-align: center;
    }
    p{
      font-size: 16px;
      line-height: 1.5em;
    }
}

.sec2grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 24px;
  @include tab{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
  }
  @include mobile{
    display: grid;
    grid-template-columns:1fr;
    gap: 12px;
  }
}

.sec3box{
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;

  h2{
    text-align: center;
    color:#650300 ;
    font-weight: bold;
    font-size: 48px;
    padding-bottom: 48px;
  }
  .gridcontainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
    @include tab{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 24px;
    }
    @include mobile{
      @include tab{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 24px;
      }
    }
  }
  img{
    height: 416px;
    @include tab{
      height: 336px;
      max-width: 100%;
    }
    @include mobile{
      height: 348px;
    }
  }

  h3{

    color: $titlecolor;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 48px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
  }
}
 

.sec4{
  background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg.png)no-repeat center;
  background-size: cover;
  max-width: 100%;
  padding-bottom: 80px;

  h2{
    color: #fff;
    font-size: 72px;
    text-align: center;
    padding: 80px;
    font-weight: bold;
  }
  img{
    height: 240px;
    display: block;   
  }
  .sec4flex{
    display: flex;
    justify-content: center;
  } 

  h3{
    color:$titlecolor ;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 48px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    padding: 8px;
  }
}


.sec5{
  margin-top: 40px;
  margin-bottom: 80px;
  line-height: 1.5;

  .sec5grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;

  }
  h2{
    text-align: center;
    color: #650300;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 24px;

  }
  img{
    max-width: 100%;
    display: block;
    border-radius: 4px;
  }
  .card{
 
    border-radius: 4px;
    box-shadow: 0px 2px 6px #00000029;
  }
}


.headerimg{
  background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png) no-repeat center;
  background-size: cover;
  height: 787px;
  max-width: 100%;
}


@media (max-width:991px) {
  .sec4flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  } 
}

@media (max-width:768px) {

  .headerimg{
    height: 375px;
  }

  .sec2{
    margin-bottom: 40px;
    h2{
      font-size: 24px;
    }
  }
 
  
  .menu a {
  display: none;
  }

  footer img {
    width: 24px;
    height: 24px;
  }
  
  .footerlist li{
    display: none;
  }
  .cpnotice {
    flex-direction: column;
    justify-content: left;
  }
  footer .contect {
    color: #fff;
    font-size: 16px;
  }
 
  }
  .sec4{
 
    h2{
      font-size: 24px;
      padding: 40px;
    }
    img{
      max-width: 100%;
      background:cover;
    }
    .s4flexitem{
      padding-bottom: 20px;
    }
  }

