@import "varnmixin";
@import "reset";
@import "layout";
@import "indexpage";
@import "question";

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 24px;

  @include tab{
    max-width:720px;
  }
  @include mobile{
      max-width:374px;
      padding: 0 12px;
  }
}


.service{
  padding-top: 48px;
  padding-bottom: 80px;
  background-color:#FBF2F2 ;

    h2{
      font-size: 48px;
      color:#650300;
      padding: 36px;
      font-weight: bold;
      text-align: center;
    }
    span{
      font-size: 84px;
      color:#650300;
      display: block;
      padding: 24px;
      text-align: center;
    }
    h3{
      font-size: 24px;
      font-weight: bold;
      padding: 16px;
      color:#650300;
      text-align: center;
    }
    p{
      font-size: 16px;
      line-height: 1.5em;
    }
        
    .grid{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      gap: 24px;
      @include tab{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 24px;
      }
      @include mobile{
        display: grid;
        grid-template-columns:1fr;
        gap: 12px;
      }
    }
}


.classiclassess{
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;

  h2{
    text-align: center;
    color:#650300 ;
    font-weight: bold;
    font-size: 48px;
    padding-bottom: 48px;
    @include mobile{
      font-size: 24px;
    }
  }
  .gridcontainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin: auto;
    @include tab{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 24px;
      align-items: center;
    }
    
    @include mobile{
      @include tab{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 24px;
      }
    }
    .griditem{
      justify-content: center;
      align-items: center;
    }
  }
  img{
    max-width: 100%;
    @include tab{
      height: 336px;
      max-width: 100%;
    }
    @include mobile{
      height: 348px;
    }
  }

  h3{

    color: $titlecolor;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 48px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
  }
}
 

.designglasses{
  background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg.png)no-repeat center;
  background-size: cover;
  max-width: 100%;
  padding-bottom: 80px;
  @include tab{
    background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg-sm.png)no-repeat center;
  }

  h2{
    color: #fff;
    font-size: 48px;
    text-align: center;
    padding: 80px;
    font-weight: bold;
    @include mobile{
      font-size: 24px;
      padding: 40px;
    }
  }
  img{
    height: 240px;
    display: block;   
  }
  .designflex{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
  } 
  .flexitem{
    padding-bottom: 24px;
  }

  h3{
    color:$titlecolor ;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 48px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    padding: 8px;
  }
}


.customer_recomm{
  margin-top: 40px;
  margin-bottom: 80px;
  line-height: 1.5;
  font-size: 16px;

  .recommen_flex{
    // display: grid;
    // grid-template-columns: repeat(4,1fr);
    display: flex;
    justify-self: center;
    gap: 24px;
    flex-wrap: wrap;
  }

  .flexitem{
    width: 23%;
    @include tab{
      width: 46%;
    }
    @include mobile{
      width: 100%;
    }
  }

  h2{
    text-align: center;
    color: #650300;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 24px;
  }

  img{
    max-width: 100%;

  }
  h4{
    padding: 3px 16px;
    font-weight: bold;

  }
  p{
    padding: 16px;
    margin-bottom: 10px;
  }
  .date{
    color: #707070;
    font-size: 14px;
  }
  .card{
    
    min-width: 100%;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3)
  }
 
}

.contacctus_under{
  background-color: #FBF2F2;
  padding-top: 80px;
  padding-bottom: 80px;
}

.contectform{
  width: 45%;
  margin: 0 auto;
  line-height: 1.5;

    @include tab{
      width: 73%;
    }
    @include mobile{
      width: 100%;
    }
  
  h2{
    text-align: center;
    color: #650300;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 24px;
      @include mobile{
        font-size: 24px;
      }
    }

    .list_container{
      width: 100%;
    }
  }

@media (max-width:768px) {
  .menu a {
    display: none;
  }
  .cpnotice {
    flex-direction: column;
    justify-content: left;
  }
  footer .contect {
    color: #fff;
    font-size: 16px;
    }
  
  }
  
