@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Roboto:ital,wght@1,900&display=swap');



body {
  font-family: "Noto Sans TC", sans-serif;
  overflow-x: hidden;
  margin: 0 auto;
}

ul, li{
  list-style: none;
}

a{
  text-decoration: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

.logo a {
  display: block;
  width: 80px;
  height: 48px;
  background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png);
  background-repeat: no-repeat;
  background-size: 80px 48.57px;
}

nav{
  background-color: #aa0601;
}

footer {
  background-color: #aa0601;
  color: #fff;
  padding: 24px 0px;
} 

.navconet{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 1.5;
}

.menu a {
  color: #fff;
  padding: 32px;
  font-size: 20px;
}
.menu a:hover {
  color: rgb(236, 255, 142);
}

.sec2under{
  background-color:#FBF2F2 ;
}

.sec2{
  padding-top: 48px;
  padding-bottom: 80px;

    h2{
      font-size: 48px;
      color:#650300;
      padding: 36px;
      font-weight: bold;
      text-align: center;
    }
    span{
      font-size: 84px;
      color:#650300;
      display: block;
      padding: 24px;
      text-align: center;
    }
    h3{
      font-size: 24px;
      font-weight: bold;
      padding: 16px;
      color::#650300;
      text-align: center;
    }
    p{
      font-size: 16px;
      line-height: 1.5em;
    }
}

.sec2grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 24px;
}

.sec3box{
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  h2{
    text-align: center;
    color:#650300 ;
    font-weight: bold;
    font-size: 48px;
    padding-bottom: 48px;
  }
  .gridcontainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
  }
  img{
    height: 416px;

    
  }
  h3{

    color: #AA0601;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 48px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
  }
}
 

.sec4{
  background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg.png)no-repeat center;
  background-size: cover;
  max-width: 100%;
  padding-bottom: 80px;

  h2{
    color: #fff;
    font-size: 72px;
    text-align: center;
    padding: 80px;
    font-weight: bold;
  }
  img{
    height: 240px;
    display: block;
    
  }
  .sec4flex{
    display: flex;
    justify-content: center;
  } 

  h3{
    color:#AA0601 ;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 48px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    padding: 8px;
  }
}


.sec5{
  margin-top: 40px;
  margin-bottom: 80px;
  line-height: 1.5;

  .sec5grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;

  }
  h2{
    text-align: center;
    color: #650300;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 24px;

  }
  img{
    max-width: 100%;
    display: block;
    border-radius: 4px;
  }
  .card{
    border:##DEE2E6 solid 1px ;
    border-radius: 4px;
    box-shadow: 0px 2px 6px #00000029;
  }
}


.headerimg{
  background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png) no-repeat center;
  background-size: cover;
  height: 787px;
  max-width: 100%;
}



.flexcontainer{
  display: flex;
  padding: 0 15px;
  justify-content: center;
  gap: 24px;
}

.flex-item{
  flex-basis: 100%;
  padding:18px;
}

.box {
  background-color: #FFF;
}

.footernav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerlist {
  display: flex;
  justify-self: start;
}



footer a {
  color:#fff;
}
footer .socialicon {
  display: flex;
  justify-content: flex-end;

}

 
 
footer img {
  width: 48px;
  height: 48px;
}



footer .contect {
  color: #fff;
  font-size: 36px;
  line-height: 1.5;
  padding-bottom: 32px;
  border-bottom: #fff solid 1px;
}

.cpnotice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.privacy {
  display: flex;
  justify-content: flex-end;
}

.privacy li {
  padding: 24px;
}
 
@media (max-width:991px) {
  .container{
    max-width:720px;
    padding: 0 36px;
  }
  .headerimg{
    height: 787px;
  }
  .sec2grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
  }
  .sec3box{
    img{
      height: 336px;
      max-width: 100%;
      
    }
    .gridcontainer{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 24px;

    }
    
  }
  
  .sec4flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  } 
  

}

@media (max-width:768px) {
  .container {
    max-width:374px;
    padding: 0 12px;
  }

  .headerimg{
    height: 375px;
  }

  .sec2{
    margin-bottom: 40px;
    h2{
      font-size: 24px;
    }
  }
  .sec2grid{
    display: grid;
    grid-template-columns:1fr;
    gap: 12px;

  }
  
  .menu a {
  display: none;
  }

  footer img {
    width: 24px;
    height: 24px;
  }
  
  .footerlist li{
    display: none;
  }
  .cpnotice {
    flex-direction: column;
    justify-content: left;
  }
  footer .contect {
    color: #fff;
    font-size: 16px;
  }
  .sec3box{
    img{
      height: 348px;
    }
  }
  .sec4{
 
    h2{
      font-size: 24px;
      padding: 40px;
    }
    img{
      max-width: 100%;
      background:cover;
    }
    .s4flexitem{
      padding-bottom: 20px;
    }
  }

}